ya-nodered.js
[{"id":"b2d7d148.13951","type":"YouTube Channels","z":"c0c817f5.941958","config":"","part":"contentDetails","categoryId":"","forUsername":"ParryGripp","channelIds":"","managedByMe":"","mine":"","mySubscribers":"","maxResults":"50","onBehalfOfContentOwner":"","pageToken":"","name":"ParryGripp Channel","x":295,"y":109,"wires":[["11daca40.2fd25e"]]},{"id":"283a6727.ee18d","type":"YouTube PlayLists","z":"c0c817f5.941958","config":"","part":"snippet","channelId":"","playlistId":"","mine":"","maxResults":"50","onBehalfOfContentOwner":"","onBehalfOfContentOwnerChannel":"","pageToken":"","name":"Get Channel Playlists","x":302,"y":168,"wires":[["44f5ccbe.d64f4c"]]},{"id":"749008e1.0ab9e8","type":"inject","z":"c0c817f5.941958","name":"DO IT!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113,"y":109,"wires":[["b2d7d148.13951"]]},{"id":"44f5ccbe.d64f4c","type":"function","z":"c0c817f5.941958","name":"Extract Each Playlist","func":"var totalResults = msg.payload.pageInfo.totalResults;\nvar maxResults = msg.payload.pageInfo.resultsPerPage;\nvar resultsCount = maxResults < totalResults ? maxResults : totalResults;\n\nvar msgArray = new Array();\nfor ( var x = 0; x < resultsCount; x ++ )\n{\n\tvar newMsg = { playlistId: msg.payload.items[x].id };\n\tmsgArray.push( newMsg );\n}\n\nreturn [ msgArray ];","outputs":1,"x":571,"y":167,"wires":[["3fd0473e.e7079"]]},{"id":"3fd0473e.e7079","type":"YouTube PlayListItems","z":"c0c817f5.941958","config":"","part":"snippet","playlistId":"","playlistItemIds":"","maxResults":"50","onBehalfOfContentOwner":"","pageToken":"","videoId":"","fields":"","name":"Get Playlist Items","x":288,"y":235,"wires":[["1931049a.debf23"]]},{"id":"1931049a.debf23","type":"function","z":"c0c817f5.941958","name":"Extract Each Video","func":"var totalResults = msg.payload.pageInfo.totalResults;\nvar maxResults = msg.payload.pageInfo.resultsPerPage;\nvar resultsCount = maxResults < totalResults ? maxResults : totalResults;\n\nvar msgArray = new Array();\nfor ( var x = 0; x < resultsCount; x ++ )\n{\n\tvar newMsg = { \n\t    playlistItemId: msg.payload.items[x].id,\n\t\tvideoId: msg.payload.items[x].snippet.resourceId.videoId,\n\t\ttitle: msg.payload.items[x].snippet.title,\n\t};\n\tmsgArray.push( newMsg );\n}\n\nreturn [ msgArray ];","outputs":1,"x":561,"y":230,"wires":[["2b4c1226.53ecae"]]},{"id":"7ae9889d.4c3aa8","type":"debug","z":"c0c817f5.941958","name":"","active":true,"console":"false","complete":"true","x":1094,"y":193,"wires":[]},{"id":"2b4c1226.53ecae","type":"template","z":"c0c817f5.941958","name":"Format for youtube-dl batch download","field":"payload","fieldType":"msg","syntax":"mustache","template":"https://www.youtube.com/watch?v={{videoId}}","x":853,"y":229,"wires":[["7ae9889d.4c3aa8","79141346.64bb34"]]},{"id":"79141346.64bb34","type":"file","z":"c0c817f5.941958","name":"","filename":"/ytdl.txt","appendNewline":true,"overwriteFile":"false","x":1095,"y":266,"wires":[]},{"id":"11daca40.2fd25e","type":"function","z":"c0c817f5.941958","name":"Extract Each Channel","func":"var totalResults = msg.payload.pageInfo.totalResults;\nvar maxResults = msg.payload.pageInfo.resultsPerPage;\nvar resultsCount = maxResults < totalResults ? maxResults : totalResults;\n\nvar msgArray = new Array();\nfor ( var x = 0; x < resultsCount; x ++ )\n{\n\tvar newMsg = { channelId: msg.payload.items[x].id };\n\tmsgArray.push( newMsg );\n}\n\nreturn [ msgArray ];\n","outputs":1,"x":576.333251953125,"y":109.66665649414062,"wires":[["283a6727.ee18d"]]}]
